<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex flex-row">
        <span class="text-muted">&copy;YelpCamp 2021</span>
        <div class="ms-auto"><span class="text-muted ms-auto">Ceated by <a href="https://github.com/prg2308/YelpCamp"
                    class="text-muted index-github-link" target="_blank"><i class="fab fa-github"></i> Prayag
                    Sharma</a></span></div>
    </div>
</footer>

<style>
    .index-github-link {
        text-decoration: none !important;
        transition: color .15s ease-in-out;
    }

    .index-github-link:hover {
        color: rgba(255, 255, 255, .75) !important;
    }
</style>