<nav class="navbar navbar-expand-lg navbar-dark bg-trans sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="logo" style="height: 2rem; width: 2rem; margin-bottom:0.25rem;">&nbsp;YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/campgrounds" id="camp-link" style="margin-left:0.5rem">Campgrounds</a>
                <a class="nav-link" href="/" id="home-link">Home</a>
                <a class="nav-link" href="/campgrounds/new" id="new-link">New</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser){ %>
                    <a href="/login" class="nav-link" id="login-link">Login</a>
                    <a href="/register" class="nav-link" id="reg-link">Register</a>
                    <% }else{ %>
                        <a href="/users/<%=currentUser.username%>" class="nav-link"><i
                                class="fas fa-user-circle"></i>&nbsp;<%= currentUser.username %></a>
                        <a href="/logout" class="nav-link logout">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>
<script src="/js/confirm-logout.js"></script>