<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js" defer></script>
    <script src="/js/validateForms.js" defer></script>
    <title>YelpCamp</title>
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar.ejs') %>
        <main class="container my-5">
            <%- include('../partials/flash.ejs') %>
                <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
</body>

</html>