<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/home-page-styles.css">
    <script defer src="/js/all.js"></script>
    <title>Yelpcamp</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-home">
        <div class="container-fluid">
            <a class="navbar-brand">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto link-div">
                    <a class="nav-link nav-link-home active nav-link-active" href="/">Home</a>
                    <a href="/campgrounds" class="nav-link nav-link-home">Campgrounds</a>
                    <% if(!currentUser){ %>
                        <a href="/login" class="nav-link nav-link-home">Login</a>
                        <% }else{ %>
                            <a href="/logout" class="nav-link nav-link-home">Logout</a>
                            <% } %>
                </div>
            </div>
        </div>
    </nav>

    <main class=" container main-home">
        <!-- <h1><i class="fas fa-campground"></i> YelpCamp</h1> -->
        <h1 class="lead-title"><span>YelpCamp</span></h1>
        <span class="lead lead-head">Welcome to YelpCamp</span>
        <p class="lead"> Explore and review campgrounds from all around the world<br>
            Feel free to create and share some of your own!</p>
        <a href="/campgrounds" class="btn btn-lg btn-custom"> <span class="btn-text">Jump In</span></a>
    </main>

    <footer class="footer fixed-bottom footer-home">
        <div class="container footer-container">
            <span class="text-muted footer-text">&copy;2021</span>
        </div>
    </footer>

</body>

</html>