.bg-trans {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.card-title{
    text-transform: capitalize;
}

.text-muted{
    text-transform: capitalize;
}

@media (min-width:992px) {
    .carousel-img{
        height: 360px;
    }
}

@media (max-width:992px) {
    .mapboxgl-canvas{
        padding-top: 2rem;
    }
}