.bg-trans {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.card{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 9%);
}

.card-title{
    text-transform: capitalize;
}

.text-muted{
    text-transform: capitalize;
}

.review-title{
    color:#212529;
    text-decoration: none;
    transition: color 0.2s;
}

.user-anchor {
    color: #0a58ca;
    text-decoration: none;
    transition: color 0.2s;
}

.user-anchor:hover{
    color: #6cb0cf;
}

@media (min-width:992px) {
    .carousel-img{
        height: 360px;
    }
}

@media (max-width:992px) {
    .mapboxgl-canvas{
        padding-top: 2rem;
    }
}