<% layout('/layouts/boilerplate') %>


    <div class="row">
        <h1 class="text-center new-heading">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="location" class="form-control" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="price" class="form-label">Price/Night</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">₹</span>
                        <input type="number" class="form-control" name="price" id="price" placeholder="00.0" min="0"
                            step="0.01" required>
                        <div class="invalid-feedback">
                            Required
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="5" required></textarea>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple required>
                    <div id="imageHelp" class="form-text pb-2">Maximum Size : 10 MB</div>
                    <div class="invalid-feedback image-feedback">
                        Required
                    </div>
                </div>
                <button type="submit" class="btn btn-success mb-3 submit-new">Add Campground</button>
                <a class="btn btn-dark mb-3" href="/campgrounds">Back</a>
            </form>
        </div>
    </div>
    <style>
        .bg-trans {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        }
    </style>

    <script>
        const imgFiles = document.querySelector('#image');
        const imageHelp = document.querySelector('#imageHelp');
        const imageFeedback = document.querySelector('.image-feedback')
        imgFiles.addEventListener('change', function () {
            let flag = 0
            for (image of imgFiles.files) {
                if (image.size > 10485760) {
                    imgFiles.setCustomValidity('File Limit Exeeded')
                    imageHelp.classList.add('text-danger')
                    imageHelp.innerText = `"${image.name}" Exceeds 10 MB`
                    flag = 1
                    break;
                }

                if (image.type.slice(0, 5) !== 'image') {
                    imgFiles.setCustomValidity('Invalid File')
                    imageHelp.classList.add('text-danger')
                    imageHelp.innerText = `"${image.name}"  is not an image!`
                    flag = 1
                    break;
                }

            }

            if (flag === 0) {
                imgFiles.setCustomValidity('')
                imageHelp.classList.remove('text-danger')
                imageHelp.innerText = `Maximum Size : 10 MB`
            }
        })

        // const button = document.querySelector('.submit-new')
        // button.addEventListener('click', function (e) {
        //     if (!imgFiles.checkValidity() && imgFiles.value) {
        //         imageHelp.innerText = ''
        //         imageFeedback.innerText = `'${invalidFileName}' Exceeds 10 MB`
        //     }
        // })
    </script>