<% layout('/layouts/boilerplate') %>


    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="location" class="form-control" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">₹</span>
                        <input type="number" class="form-control" name="price" id="price" placeholder="00.0" min="0"
                            step="0.01" required>
                        <div class="invalid-feedback">
                            Required
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="5" required></textarea>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <button type="submit" class="btn btn-success mb-3">Add Campground</button>
                <a class="btn btn-dark mb-3" href="/campgrounds">Back</a>
            </form>
        </div>
    </div>
    <style>
        .bg-trans {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        }
    </style>