<% layout('/layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <h1>Login</h1>
            <form action="/login" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label for="title" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" required>
                    <div class="invalid-feedback username-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-3">
                    <input type="checkbox" id="showPassword">
                    <label for="showPassword">Show Password</label>
                </div>
                <button class="btn btn-success mb-2">Login</button>
                <div class="mb-3">
                    <span class="form-text register-link"><a href="/register" style="text-decoration: none;">Create an
                            account</a></span>
                    <span class="form-text forgot-link"><a href="/reset" style="text-decoration: none;">Forgot
                            Password?</a></span>
                </div>
            </form>
        </div>
    </div>
    <link rel="stylesheet" href="/css/login-styles.css">
    <script>
        const password = document.querySelector('#password')
        showPassword.addEventListener('change', function () {
            this.checked ? (password.type = 'text') : (password.type = 'password')
        })
    </script>