<% layout('/layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <h1>Reset Password</h1>
            <form action="/reset/<%=token%>" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                        pattern="^(?=.*[0-9])(?=.*[a-zA-Z])(?=\S+$).{8,}$" required>
                    <div id="passwordHelp" class="form-text pb-2">Minimum 8 characters with atleast One Digit and One
                        Character</div>
                    <div class="invalid-feedback password-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confPassword" class="form-label">Confirm Password</label>
                    <input type="password" name="confPassword" id="confPassword" class="form-control"
                        pattern="^(?=.*[0-9])(?=.*[a-zA-Z])(?=\S+$).{8,}$" required>
                    <div class="invalid-feedback conf-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-3">
                    <input type="checkbox" id="showPassword">
                    <label for="showPassword">Show Password</label>
                </div>
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
    <style>
        .bg-trans {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        }

        .invisible {
            display: none;
        }
    </style>

    <script src="/js/reset-validation.js"></script>